.my__btn {
  margin-left: 15px;
  font-size: 0.9rem !important;
  font-weight: 200 !important;
  width: 170px !important;
}

.my__header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.add {
  background-color: white !important;
  color: #28a745 !important;
}

.my__icon {
  /* margin-right: 10px !important; */
}
